SPOTIFY_CLIENT_ID="your_client_id"
SPOTIFY_CLIENT_SECRET="your_secret"
SPOTIFY_REFRESH_TOKEN="your_refresh_token"
GATSBY_FACEBOOK_APP_ID=your_app_id
GATSBY_TELEGRAM_KOMMENTBOT_TOKEN=any_token
GATSBY_SUPABASE_URL=https://your-project.supabase.co
GATSBY_SUPABASE_KEY=your_publishable_key
